<h1>Welcome!</h1>

<% cache do %>
  <ul>
    <% @users.each do |user| %>
      <%= user.name %>
      <% user.orders.each do |order| %>
        <li><%= order.title %></li>
      <% end %>
      <li>test</li>
    <% end %>
  </ul>
<% end %>

<%= will_paginate @users %>

<% if current_user %>
  You are logged in as <%= current_user.name %>
  <%= link_to 'Log Out', logout_path, method: :delete %>

  <div>
    <% if current_user.provider == 'twitter' %>
      <%= link_to 'Tweet!', tweets_path, method: :post %>
      <%= link_to 'Get Tweet', tweets_path %>
    <% end %>
  </div>
<% else %>
  <%= link_to 'VK', '/auth/vkontakte' %><br>
  <%= link_to 'Fb', '/auth/facebook' %><br>
  <%= link_to 'TW', '/auth/twitter' %>
<% end %>


